<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🚀🏀⚾️🎱</key>
	<string>Space Balls</string>
	<key>🐍🐍✈️</key>
	<string>Snakes On a Plane</string>
	<key>👸👰</key>
	<string>The Princess Bride</string>
	<key>🌭🎉</key>
	<string>Sausage Party</string>
	<key>🐺💰🗽</key>
	<string>Wolf Of Wall Street</string>
</dict>
</plist>
