<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🙅‍♀️🛑💒</key>
	<string>Dont Stop Believin</string>
	<key>👁🐅</key>
	<string>Eye of the Tiger</string>
	<key>🦺🕺</key>
	<string>Safety Dance</string>
	<key>🧱🏘</key>
	<string>Brick House</string>
	<key>🔥👨‍👩‍👦</key>
	<string>Fire Squad</string>
</dict>
</plist>
